*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
div{
    width: 180px;
    height: 180px;
    background-color: aqua;
    margin: 40px auto;
    outline: dotted 10px black;
}
    div:hover{
        outline-color: blue;
    }
    div:active{
        outline-width:15px;
    }